@font-face{
	font-family:	"Proxima Nova";
	src:			url("../fonts/ProximaNova/proximanovaregular.otf")	format("opentype"),
					url("../fonts/ProximaNova/proximanovaregular.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/proximanovaregular.woff2")	format("woff2"),
					url("../fonts/ProximaNova/proximanovaregular.woff")	format("woff"),
					url("../fonts/ProximaNova/proximanovaregular.ttf")	format("truetype"),
					url("../fonts/ProximaNova/proximanovaregular.svg#proxima_nova_rgregular")	format("svg");
	font-weight:	400;
	font-style:		normal;
}

@font-face{
	font-family:	"Proxima Nova";
	src:			url("../fonts/ProximaNova/proximanovabold.otf")	format("opentype"),
					url("../fonts/ProximaNova/proximanovabold.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/proximanovabold.woff2")	format("woff2"),
					url("../fonts/ProximaNova/proximanovabold.woff")	format("woff"),
					url("../fonts/ProximaNova/proximanovabold.ttf")	format("truetype"),
					url("../fonts/ProximaNova/proximanovabold.svg#proxima_nova_rgbold")	format("svg");
	font-weight:	700;
	font-style:		normal;
}

@font-face{
	font-family:	"Proxima Nova";
	src:			url("../fonts/ProximaNova/proximanovalight.otf")	format("opentype"),
					url("../fonts/ProximaNova/proximanovalight.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/proximanovalight.woff2")	format("woff2"),
					url("../fonts/ProximaNova/proximanovalight.woff")	format("woff"),
					url("../fonts/ProximaNova/proximanovalight.ttf")	format("truetype"),
					url("../fonts/ProximaNova/proximanovalight.svg#proxima_nova_ltlight")	format("svg");
	font-weight:	200;
	font-style:		normal;
}

@font-face{
	font-family:	"Proxima Nova";
	src:			url("../fonts/ProximaNova/proximanovaextrabold.otf")	format("opentype"),
					url("../fonts/ProximaNova/proximanovaextrabold.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/proximanovaextrabold.woff2")	format("woff2"),
					url("../fonts/ProximaNova/proximanovaextrabold.woff")	format("woff"),
					url("../fonts/ProximaNova/proximanovaextrabold.ttf")	format("truetype"),
					url("../fonts/ProximaNova/proximanovaextrabold.svg#proxima_nova_thextrabold")	format("svg");
	font-weight:	900;
	font-style:		normal;
}

@font-face{
	font-family:	"Lato";
	src:			url("../fonts/Lato/lato-regular.ttf")	format("truetype"),
					url("../fonts/Lato/lato-regular.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/Lato/lato-regular.woff2")	format("woff2"),
					url("../fonts/Lato/lato-regular.woff")	format("woff"),
					url("../fonts/Lato/lato-regular.ttf")	format("truetype"),
					url("../fonts/Lato/lato-regular.svg#latoregular")	format("svg");
	font-weight:	400;
	font-style:		normal;
}

@font-face{
	font-family:	"Lato";
	src:			url("../fonts/Lato/lato-bold.ttf")	format("truetype"),
					url("../fonts/Lato/lato-bold.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/Lato/lato-bold.woff2")	format("woff2"),
					url("../fonts/Lato/lato-bold.woff")	format("woff"),
					url("../fonts/Lato/lato-bold.ttf")	format("truetype"),
					url("../fonts/Lato/lato-bold.svg#latobold")	format("svg");
	font-weight:	700;
	font-style:		normal;
}