@font-face{
	font-family:	"Proxima Nova";
	src:            url("../fonts/ProximaNova/ProximaNova-Regular.eot");
	src:			url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/ProximaNova-Regular.woff")	format("woff"),
					url("../fonts/ProximaNova/ProximaNova-Regular.ttf")	format("truetype");
	font-weight:	400;
	font-style:		normal;
}

@font-face{
	font-family:	"Proxima Nova";
	src:            url("../fonts/ProximaNova/ProximaNova-Bold.eot");
	src:			url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/ProximaNova-Bold.woff")	format("woff"),
					url("../fonts/ProximaNova/ProximaNova-Bold.ttf")	format("truetype");
	font-weight:	700;
	font-style:		normal;
}

@font-face{
	font-family:	"Proxima Nova";
	src:            url("../fonts/ProximaNova/ProximaNova-Light.eot");
	src:			url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/ProximaNova-Light.woff")	format("woff"),
					url("../fonts/ProximaNova/ProximaNova-Light.ttf")	format("truetype");
	font-weight:	200;
	font-style:		normal;
}

@font-face{
	font-family:	"Proxima Nova";
	src:            url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
	src:			url("../fonts/ProximaNova/ProximaNova-Extrabld.otf")	format("opentype"),
					url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix")	format("embedded-opentype"),
					url("../fonts/ProximaNova/ProximaNova-Extrabld.woff")	format("woff"),
					url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf")	format("truetype");
	font-weight:	900;
	font-style:		normal;
}

@font-face{
	font-family: "Lato";
    src: url("../fonts/Lato/LatoRegular.eot");
    src: url("../fonts/Lato/LatoRegular.eot?#iefix") format("embedded-opentype"),
		 url('../fonts/Lato/LatoRegular.woff2') format('woff2'),
    	 url("../fonts/Lato/LatoRegular.woff") format("woff"),
    	 url("../fonts/Lato/LatoRegular.ttf") format("truetype"),
         url('../fonts/Lato/LatoRegular.svg#latoregular') format('svg');

	font-weight:	400;
	font-style:		normal;
}

@font-face{
	font-family: "Lato";
    src: url("../fonts/Lato/LatoBold.eot");
    src: url("../fonts/Lato/LatoBold.eot?#iefix")format("embedded-opentype"),
		 url('../fonts/Lato/LatoBold.woff2') format('woff2'),
    	 url("../fonts/Lato/LatoBold.woff") format("woff"),
    	 url("../fonts/Lato/LatoBold.ttf") format("truetype"),
         url('../fonts/Lato/LatoBold.svg#latobold') format('svg');
	font-weight:	700;
	font-style:		normal;
}
