@mobile: ~"only screen and (max-width: 767px)";
@tablet: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 1170px)";

@yellow-color: #ffd602;
@gray-color: #8c8f94;
@dark-gray-color: #333336;

@yellow-block-1: #ffda1d;
@yellow-block-2: #fee252;
@yellow-block-3: #fdeb89;
@yellow-block-4: #fdf3c2;




