.carousel {
	position: relative;
	top: 0;
	left: 0;
}
.slide {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	
	&--1 {
		background-image: url("../img/bg-3.jpg");
	}
	
	&--2 {
		background-image: url("../img/bg-2.jpg");
	}
	
	&--3 {
		background-image: url("../img/bg-1.jpg");
	}
	
	&__title {
		margin-top: 0;
	}
	
	&__small {
		color: @yellow-color;
	}
	
	&__line {
		height: 4px;
		background-color: #fff;
		
		margin-top: 30px;
		margin-bottom: 35px;
	}
	
	&__text {
		margin-top: 0;
		margin-bottom: 35px;
		color: #fff;
		font-size: 18px;
		
	}
	
	&__btn {
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		outline: none;
		text-align: center;
		
		padding: 12px 60px;
		
		border: 1px solid @yellow-color;
		border-radius: 5px;
		
		&:hover {
			background-color: @yellow-color;
			color: @dark-gray-color;
		}
	}
}

@media @mobile {
	.slide {
		height: 660px;
		padding-top: 160px;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		
		&__title {
			font-size: 40px;
		}
		
		&__text {
			text-align: center;
			max-width: 90%;
		}
		
		&__line {
			display: none;
		}
	}
}

@media @tablet {
	.slide {
		height: 700px;
		padding-top: 180px;
		padding-bottom: 40px;
		
		
		&__title {
			max-width: 500px;
			text-align: center;
		}
		
		&__small {
			font-size: 28px;
		}
		
		&__text {
			text-align: center;
			max-width: 500px;
		}
		
		&__line {
			width: 300px;
			margin-left: 100px;
		}
		
		&__btn {
			margin-left: 150px;
		}
		
	}
}

@media @desktop {
	.slide {
		height: 92vh;
		padding-top: 20vh;
		padding-bottom: 0;
		
		&__title {
			max-width: 510px;
			text-align: left;
		}
		
		&__text {
			text-align: left;
		}
		
		&__line {
			margin-left: 0;
		}
		
		&__btn {
			margin-left: 0;
		}
	}
}









